{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kawaki Bank</title>

    <link rel="stylesheet" href="{% static 'hms_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'hms_app/css/managerbasecss.css' %}">

</head>
<body>
<nav class="navbar navbar-expand-lg justify-content-md-center sticky-top">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'hms_app/img/kawakilogo.png' %}"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
        <div class="collapse navbar-collapse  justify-content-md-center" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" style="color: #17252a;">
                    {{ user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'manager_profile' %}" style="color: #17252a;">Profile</a>
                    <a class="dropdown-item" href="{% url 'logout' %}" style="color: #17252a;">Log Out</a>

                </div>
            </li>
        </ul>
    {% else %}
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'register' %}" style="color: black">Register <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login_get' %}" style="color: black">Log In</a>
                </li>
                <li>
                    <a class="nav-link" href="#" style="color: white">About Us</a>
                </li>
            </ul>
        </div>
    {% endif %}
    </div>
</nav>

{% block content %}
{% endblock %}

<script src="{% static 'hms_app/js/jquery-1.12.1.min.js' %}"></script>
<script src="{% static 'hms_app/js/bootstrap.bundle.js' %}"></script>

</body>
</html>

