{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <div class="col-md-6 justify-content-center" style="margin-top: 190px">
                <div class="card" id="card">
                    <div class="card-header">
                        <p class="card-title" id="headerfill"
                           style="color: rgb(35, 158, 152); text-align: center;font-size: 0.5in; font-family: Bahnschrift;">
                            PAY FOR ROOM
                        </p>
                    </div>
                    <form action="{% url 'make_payment_now' %}" method="post">
                        {% csrf_token %}
                        {% if message %}
                            <p class="alert alert-danger">{{ message }}</p>
                        {% endif %}
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label class="form-check-label" for="amount" ID="registerfill">Ammount To Pay
                                    </label>
                                    <input name="amount" id="amount" class="col-md-12" type="number">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-outline-dark col-md-12">MAKE PAYMENT
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
